@model List<TaskRecordingSystem.ViewModels.UserRoleViewModel>

@{
    var roleId = ViewBag.roleId;
}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Font Awesome -->
<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../../dist/css/adminlte.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3>Add or remove users from this role</h3>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <form method="post">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Add or remove users from this role</h2>
                                </div>
                                <div class="card-body">
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <div class="form-check m-1">
                                            <input type="hidden" asp-for="@Model[i].UserId" />
                                            <input type="hidden" asp-for="@Model[i].UserName" />
                                            <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                                            <label class="form-check-label" asp-for="@Model[i].IsSelected">
                                                @Model[i].UserName
                                            </label>
                                        </div>
                                    }
                                </div>
                                <div class="card-footer">
                                    <input type="submit" value="Update" class="btn btn-primary"
                                           style="width:auto" />
                                    <a asp-action="EditRole" asp-route-id="@roleId"
                                       class="btn btn-primary" style="width:auto">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

               
                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
            </div>

        </div>
    </section>

</div>
